.footer {
    background: $black;
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 40px;

    @include mq(sm) {
        padding: 15px 200px;
        height: 80px;
        height: auto;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-align: center;

        img {
            width: 50%;
        }
    }

    &__social {
        display: none;

        @include mq(sm) {
            display: flex;

        }

        li {
            margin-left: 20px;
        }

        i {
            color: $white;
            font-size: 30px;
        }
    }
}
