.footer {
    background: $black;
    display: flex;
    height: 80px;
    padding: 25px 150px;
    position: relative;

    @include mq(sm) {
        height: auto;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    &__social {
        display: none;
        justify-content: flex-end;

        @include mq(sm) {
            display: flex;
        }

        li {
            margin-left: 20px;
        }

        i {
            color: $white;
            font-size: 30px;
        }
    }
}
