footer.footer
    a.footer__logo(href="https://vtr.com/" target="_blank")
        img(src="../images/footer-logo.png")
    ul.footer__social
        li
            a(href="https://www.facebook.com/VTRChile" target="_blank")
                i.fa.fa-facebook
        li
            a(href="https://twitter.com/VTRchile" target="_blank")
                i.fa.fa-twitter
        li
            a(href="https://www.instagram.com/vtrchile/" target="_blank")
                i.fa.fa-instagram
