footer.footer
    .footer__logo
        img(src="../images/footer-logo.png")
    ul.footer__social
        li
            a
                i.fa.fa-facebook
        li
            a
                i.fa.fa-twitter
        li
            a
                i.fa.fa-instagram
