.grid-container
    .base-grid
        select
            option stage
        .heading-col
            .hour-row 1
            .hour-row
            .hour-row 2
            .hour-row 
            .hour-row 3
            .hour-row
            .hour-row 4
            .hour-row
            .hour-row 5
            .hour-row
            .hour-row 6
            .hour-row
            .hour-row 7
            .hour-row
            .hour-row 8
            .hour-row
        .stage-1
            .stage-selector Nombre de Stage

        .stage-2
        .stage-3
        .stage-4
        .stage-5
        .stage-6
        .stage-7
        .stage-8

    .concert-grid
        .stage-1
            .concert-item(data-duration="12", data-time="")
            .concert-item(data-duration="6", data-time="")
            .concert-item(data-duration="4", data-time="")
            .concert-item(data-duration="", data-time="")
            .concert-item(data-duration="", data-time="")
        .stage-2
        .stage-3
        .stage-4
        .stage-5
        .stage-6
        .stage-7
        .stage-8
    
