extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.vtr-shuffle
        .vtr-shuffle__slides
            .vtr-shuffle__slide.vtr-shuffle__slide--inicio.-active
                .vtr-shuffle__slide__background
                    img(src="/images/vtr-shuffle/back-inicio.jpg")
                .vtr-shuffle__slide__data
                    img.vtr-shuffle__slide__logo(src="/images/vtr-shuffle/vtr-shuffle-logo.png")
                    h3.vtr-shuffle__slide__title Sube el volumen para conocer Lolla desde <br><span class="_number">6</span> ritmos distintos
                    p.vtr-shuffle__slide__text Rock, indie, pop, folk electrónica y hip hop viven Lollapalooza a su manera. Conoce qué es eso tan especial que hace a los fanáticos sentirse tan atraídos a cada uno de estos géneros.
                    a.vtr-shuffle__slide__play(href="#", data-modal="open", data-video="4XdF_W8l3CA")
                        i.material-icons keyboard_arrow_right

            .vtr-shuffle__slide.vtr-shuffle__slide--electronica
                .vtr-shuffle__slide__background
                    img(src="/images/vtr-shuffle/back-electronica.png")
                .vtr-shuffle__slide__data
                    h2.vtr-shuffle__slide__logo Electrónica
                    h3.vtr-shuffle__slide__title Sube el volumen para conocer Lolla desde <br><span class="_number">6</span> ritmos distintos
                    a.vtr-shuffle__slide__play(href="#", data-modal="open", data-video="hgHogMhzst0")
                        i.material-icons keyboard_arrow_right
            
            .vtr-shuffle__slide.vtr-shuffle__slide--hip-hop
                .vtr-shuffle__slide__background
                    img(src="/images/vtr-shuffle/back-hip-hop.png")
                .vtr-shuffle__slide__data
                    h2.vtr-shuffle__slide__logo Hip Hop
                    h3.vtr-shuffle__slide__title Sube el volumen para conocer Lolla desde <br><span class="_number">6</span> ritmos distintos
                    a.vtr-shuffle__slide__play(href="#", data-modal="open", data-video="CesgANnFQ1Y")
                        i.material-icons keyboard_arrow_right
            
            .vtr-shuffle__slide.vtr-shuffle__slide--folk
                .vtr-shuffle__slide__background
                    img(src="/images/vtr-shuffle/back-folk.png")
                .vtr-shuffle__slide__data
                    h2.vtr-shuffle__slide__logo Folk
                    h3.vtr-shuffle__slide__title Sube el volumen para conocer Lolla desde <br><span class="_number">6</span> ritmos distintos
                    a.vtr-shuffle__slide__play(href="#", data-modal="open", data-video="f5_vGDqO54U")
                        i.material-icons keyboard_arrow_right

            .vtr-shuffle__slide.vtr-shuffle__slide--indie
                .vtr-shuffle__slide__background
                    img(src="/images/vtr-shuffle/back-indie.png")
                .vtr-shuffle__slide__data
                    h2.vtr-shuffle__slide__logo Indie
                    h3.vtr-shuffle__slide__title Sube el volumen para conocer Lolla desde <br><span class="_number">6</span> ritmos distintos
                    a.vtr-shuffle__slide__play(href="#", data-modal="open", data-video="GYOWmy3hkt4")
                        i.material-icons keyboard_arrow_right

            .vtr-shuffle__slide.vtr-shuffle__slide--pop
                .vtr-shuffle__slide__background
                    img(src="/images/vtr-shuffle/back-pop.png")
                .vtr-shuffle__slide__data
                    h2.vtr-shuffle__slide__logo Pop
                    h3.vtr-shuffle__slide__title Sube el volumen para conocer Lolla desde <br><span class="_number">6</span> ritmos distintos
                    a.vtr-shuffle__slide__play(href="#", data-modal="open", data-video="-OzzmWEk5sE")
                        i.material-icons keyboard_arrow_right

            .vtr-shuffle__slide.vtr-shuffle__slide--rock
                .vtr-shuffle__slide__background
                    img(src="/images/vtr-shuffle/back-rock.png")
                .vtr-shuffle__slide__data
                    h2.vtr-shuffle__slide__logo Rock
                    h3.vtr-shuffle__slide__title Sube el volumen para conocer Lolla desde <br><span class="_number">6</span> ritmos distintos
                    a.vtr-shuffle__slide__play(href="#", data-modal="open", data-video="nfoLr2bdvJ8")
                        i.material-icons keyboard_arrow_right

        .vtr-shuffle__index
            ul.vtr-shuffle__index-genre-list
                li.vtr-shuffle__index-genre.-active
                    span Inicio
                li.vtr-shuffle__index-genre
                    span Electronica
                li.vtr-shuffle__index-genre
                    span Hip Hop
                li.vtr-shuffle__index-genre
                    span Folk
                li.vtr-shuffle__index-genre
                    span Indie
                li.vtr-shuffle__index-genre
                    span Pop
                li.vtr-shuffle__index-genre
                    span Rock
            .vtr-shuffle__index-controls
                button._prev
                    i.material-icons keyboard_arrow_up
                ._index
                    span 1 
                    | / 7
                button._next
                    i.material-icons keyboard_arrow_down

    .vtr-shuffle__modal
        .vtr-shuffle__modal__backdrop(data-modal="close")
        .vtr-shuffle__modal__container
            button.vtr-shuffle__modal__close(data-modal="close")
                span
                span
            .vtr-shuffle__modal__video
                iframe(src="")

    
