extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.trivia-lollacl.trivia-lollacl--trivia-background
        .trivia-lollacl__wrapper
            .trivia-lollacl__title
                img(src="/images/trivia/title.png")
            h3.trivia-lollacl__subtitle
                |¿Puedes adivinar las bandas de Lollapalooza Chile 
                span 2019
                |?
            //- p.trivia-lollacl__text 
            //-     |Te desafíamos a demostrar que eres un experto en festivales, muéstranos de qué estás hecho adivinando las bandas y las canciones de Lollapalooza Chile 
            //-     span 2019 
            //-     |con las pistas que te damos aquí.
        .trivia-lollacl__image
            img(src="/images/proximamente.png")
