extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.trivia-lollacl.trivia-lollacl--trivia-background
        .container
            .row
                .col-xs-24
                    .trivia-lollacl__title
                        img(src="/images/trivia/title.png")
                .col-xs-24.col-sm-8.trivia-lollacl__col-right
                    .trivia-lollacl__group.trivia-lollacl__group--right
                        h3.trivia-lollacl__subtitle
                            |¿Puedes adivinar las bandas de Lollapalooza Chile 
                            span 2019
                            |?
                        p.trivia-lollacl__text
                            |Te desafiammos a demostrar que eres un experto en festivales, mupestranos de qué estás hecho adivinando las bandas y las canciones de Lollapalooza Chile 
                            span 2019 
                            |con las pistas que te damos aquí.
                        .trivia-lollacl__comment
                            p Instrucciones
                            p
                                |debes adivinar de qué artista de lolla 
                                span 2019, 
                                |album o conción se trata con los dos íconos
                        a.trivia-lollacl__cta-button(href="/trivia-lollacl/preguntas")
                            p ¡Comienza el desafío!
                .col-xs-24.col-sm-14
                    .trivia-lollacl__group.trivia-lollacl__group--left
                        img(src="/images/trivia/intro-cards.png")
