extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block meta
    meta(property="og:title" content="¡Yo ya descubrí qué tan experto soy en Lollapalooza Chile! Conoce tu porcentaje con la trivia #VTResLollaCL")
    meta(property="og:description" content="VTR es Lollapalooza")

block content
    main.trivia-lollacl.trivia-lollacl--trivia-background.trivia-lollacl--resultado#resultados
        .container
            .row
                .col-xs-24
                    .trivia-lollacl__title
                        img(src="/images/trivia/title.png")
                        h3.vtr-playstage__subtitle(style="text-align: center; margin-bottom: 10px;") Adivina el artista de Lollapalooza <span>2019</span>
                .col-xs-24.col-sm-11.trivia-lollacl__col-right.trivia-lollacl__col-right--resultado
                    .trivia-lollacl__group.trivia-lollacl__group--right
                        h3.trivia-lollacl__subtitle.trivia-lollacl__subtitle--resultado
                            span#respuestas-correctas XX 
                            |respuestas correctas
                        h2.trivia-lollacl__resultado-text#resultado-text
                        
                        p.trivia-lollacl__resultado-share comparte tu resultado
                        .trivia-lollacl__resultado-group
                            a.trivia-lollacl__icon-facebook(target="_blank" href="#")
                                img(src="/images/trivia/btn-facebook.png")
                            a.trivia-lollacl__icon-twitter(href="#" target="_blank")
                                img(src="/images/trivia/btn-twitter.png")
                .col-xs-24.col-sm-12
                    .trivia-lollacl__group.trivia-lollacl__group--image.trivia-lollacl__group--white.trivia-lollacl__group--resultado
                        img.trivia-lollacl__result-images(src="/images/trivia/icon-result-5.png")
                        img.trivia-lollacl__result-images(src="/images/trivia/icon-result-4.png")
                        img.trivia-lollacl__result-images(src="/images/trivia/icon-result-3.png")
                        img.trivia-lollacl__result-images(src="/images/trivia/icon-result-2.png")
                        img.trivia-lollacl__result-images(src="/images/trivia/icon-result-1.png")
