.home {
    overflow: hidden;
    position: relative;

    & + .footer {
        @include mq(sm) {
            display: none;
        }
    }

    &__wrapper {
        @include mq(sm) {
            display: flex;
            width: 120%;
            transform: translateX(-10vw);
        }
    }

    &__col {
        $col: &;

        @include trans($d:.6s);

        position: relative;
        height: 14.29vh;
        display: flex;
        align-items: center;
        padding-left: 20px;
        flex-grow: 2;

        @include mq(sm) {
            @include trans($d:.6s);
            padding-left: 0;
            display: block;
            height: 100vh;
            width: 14.30%;
            flex-basis: 14.30%;
            transform: skewX(-8deg);

            &:first-child {
                @include mq(sm) {
                    width: 25%;
                    flex-basis: 25%;
                }
            }

            &:last-child {
                @include mq(sm) {
                    width: 25%;
                    flex-basis: 25%;
                }
            }
        }

        &:hover {

            @include mq(sm) {
                width: 35%;
                flex-basis: 35%;
            }

            #{$col}__layer {
                opacity: 1;
            }

            #{$col}__icon {
                img {
                    right: 20%;
                }

                &--icon-position {
                    img {
                        right: 42%;
                    }
                }
            }

            #{$col}__text {
                opacity: 1;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &:nth-child(1) {
            background: $fucsia;
        }

        &:nth-child(2) {
            background: $magenta;
        }

        &:nth-child(3) {
            background: $turqoise;
        }

        &:nth-child(4) {
            background: $blue;
        }

        &:nth-child(5) {
            background: $cyan;
        }

        &:nth-child(6) {
            background: $gold;
        }

        &:nth-child(7) {
            background: $lemon;
        }

        &__title-text {
            color: $white;
            font-size: 32px;
            text-transform: uppercase;
            text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

            @include mq(sm) {
                display: none;
            }
        }

        &__layer {
            @include trans($d: .6s);
            
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: url('../images/home/wave-back.png') repeat center;
            mix-blend-mode: overlay;
            opacity: 0;

            @include mq(sm) {
                background-size: cover;
                background: url('../images/home/wave-back.png') repeat center;
            }

            &--resize {
                @include mq(sm) {
                    background-size: cover;
                }
            }
        }

        &__title-image {
            display: none;

            @include mq(sm) {
                display: block;
            }

            img {
                @include mq(sm) {
                    position: absolute;
                    bottom: 5%;
                    right: 0;
                    height: auto;
                    width: auto;
                    transform: skewX(8deg);
                    max-height: 55vh;
                }
            }

            &--image-position {
                img {
                    @include mq(sm) {
                        left: 20%;
                        right: auto;
                    }
                }
            }
        }

        &__icon {
            img {
                @include trans;

                position: absolute;
                right: 5%;
                top: 10%;
                max-height: 100px;
                max-width: 100px;
                transform: rotate(90deg);

                @include mq(sm) {

                    top: 10%;
                    right: -20%;
                    height: auto;
                    transform: skewX(8deg) rotate(0deg);
                    max-width: 100%;
                    max-height: 100vh;
                }
            }

            &--icon-position {
                img {
                    @include mq(sm) {
                        right: 32%;
                        max-width: 58%;
                        max-height: 58vh;
                    }
                }
            }
        }

        &__text {
            @include trans;

            display: block;
            position: absolute;
            left: 60%;
            top: 30%;
            transform: translate3d(0%, -50%, 0);
            color: $white;
            font-size: 24px;
            text-transform: uppercase;
            color: $white;
            opacity: 0;

            @include mq(md) {
                font-size: 45px;
            }

            &--position {
                left: 35%;
            }
        }

        &.-animate {
            flex-grow: 5;
            height: 100vh;

            @include mq(md) {
                width: 100vw;
            }
        }
    }
}

.particles-js-canvas-el {
    @include trans($d: .7s);
    opacity: 0;
    mix-blend-mode: overlay;
}
