extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.azotea-vtr.azotea-vtr--azotea-background
        .fotos-izq
            img(src='../images/azotea-vtr/polaroid-izq.png', alt='')
        .fotos-der
            img(src='../images/azotea-vtr/polaroid-der.png', alt='')
        .azotea-vtr__wrapper
            .azotea-vtr__title
                img(src='/images/azotea-vtr/title.png')
            h3.azotea-vtr__subtitle
                | ¡GANA UN PASE A LA MEJOR VISTA DE LOLLAPALOOZA CHILE 
                span 2019
                | !
            p.azotea-vtr__text
                | Si estás en Lollapalooza Chile 
                span._number 2019
                | , sácate una foto en el mural VTR, súbela a Instagram usando #VTResLollaCL y estarás participando por ver a tus artistas favoritos desde la Azotea VTR.
            ul
                li
                    .azotea-icono
                        img(src='../images/azotea-vtr/icono-01.png', alt='')
                    .azotea-vtr_item_text
                        | Puedes subir junto a
                        br
                        span.azotea-vtr_item_text_big
                            span._number 4
                            |  amigos
                .divisor-vertical
                li
                    .azotea-icono
                        img(src='../images/azotea-vtr/icono-02.png', alt='')
                    .azotea-vtr_item_text
                        | Puedes subir junto a
                        br
                        span.azotea-vtr_item_text_big
                            span._number 5
                            |  ganadores
                            br
                            |  por día
                .divisor-vertical
                li
                    .azotea-icono
                        img(src='../images/azotea-vtr/icono-03.png', alt='')
                    .azotea-vtr_item_text
                        span.azotea-vtr_item_text_big
                            | Tú puedes elegir en
                            br
                            | qué horario subir
                        br
                        | 				entre las 
                        span._number 13
                        |  y 
                        span._number 18
                        |  horas, por un máximo de 
                        span._number 20
                        |  minutos.
                        br
                        span.small (sujeto a disponibilidad de la azotea).
                        br
            a.btn.btn-fucsia(href='../images/bases-legales.pdf', target='_blank') revisa las bases aquí

