extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    main.trivia-lollacl.trivia-lollacl--trivia-background#preguntas
        .container
            .row
                .col-xs-24
                    .trivia-lollacl__title
                        img(src="/images/trivia/title.png")
                    each item in site.data.triviaQuestions
                        .trivia-lollacl__questions-wrapper
                            .col-xs-24.col-sm-11.trivia-lollacl__col-right
                                .trivia-lollacl__group.trivia-lollacl__group--right
                                    h3.trivia-lollacl__question-number
                                        |#
                                        span=item.number
                                    if item.options
                                        each option,index in item.options
                                            button.trivia-lollacl__answer
                                                p.trivia-lollacl__answer-text
                                                    span
                                                        |#{index + 1}. 
                                                    |#{option}
                            .col-xs-24.col-sm-12
                                .trivia-lollacl__group.trivia-lollacl__group--image.trivia-lollacl__group--white
                                    img(src=item.image)
                                    .trivia-lollacl__answer-message.trivia-lollacl__answer-message--wrong
                                        .trivia-lollacl__answer-wrapper
                                            img(src="/images/trivia/icon-wrong.png")
                                        p.trivia-lollacl__message-text respuesta incorrecta
                                    .trivia-lollacl__answer-message.trivia-lollacl__answer-message--right
                                        .trivia-lollacl__answer-wrapper
                                            img(src="/images/trivia/icon-correct.png")
                                        p.trivia-lollacl__message-text respuesta correcta
        .trivia-lollacl__breadcrumb
            .container
                .row
                    .col-xs-24.trivia-lollacl__breadcrumb-col
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                            .trivia-lollacl__breadcrumb-line
                        .trivia-lollacl__breadcrumb-group
                            span.trivia-lollacl__question-indicator
                        
