header.header
    a.header__logo.header__logo--vtr(href="https://vtr.com/" target="_blank")
        img(src="/images/vtr-logo.png")
    a.header__logo.header__logo--loolla(href="/")
        img(src="/images/loolla-logo.png")
    .header__wrapper
        a.header__legal bases legales
        ul.header__social
            li
                a(href="https://www.facebook.com/VTRChile" target="_blank")
                    i.fa.fa-facebook
            li
                a(href="https://twitter.com/VTRchile" target="_blank")
                    i.fa.fa-twitter
            li
                a(href="https://www.instagram.com/vtrchile/" target="_blank")
                    i.fa.fa-instagram
