header.header
    .header__logo.header__logo--vtr
        img(src="images/vtr-logo.png")
    .header__logo.header__logo--loolla
        img(src="images/loolla-logo.png")
    .header__wrapper
        p.header__legal bases legales
        ul.header__social
            li
                a
                    i.fa.fa-facebook
            li
                a
                    i.fa.fa-twitter
            li
                a
                    i.fa.fa-instagram
