extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.line-up
        .line-up__container
            .line-up__col
                .line-up__logo-main
                    img(src="../images/lineup/lineup-logo.png")
                .line-up__subtitle ellos serán los encargados de hacerte saltar y bailar este año en lollapalooza chile

                p.line-up__text
                    span._title Viernes 29 de Marzo
                    strong KENDRICK LAMAR • LENNY KRAVITZ
                    br
                    | DIMITRI VEGAS &__ LIKE MIKE • GRETA VAN FLEET • VICENTICO • SNOW PATROL Caetano, Moreno, Zeca &__ Tom Veloso • KSHMR • JORJA SMITH • Paulo Londra CLAIRO • FISHER • KUNGS • LANY • LOS TRES • fRANCISCA VALENZUELA
                    | GREEN VALLEY • NICOLA CRUZ • TOKYO SKA PARADISE ORCHESTRA • GRYFFIN
                    | MC KEVINHO • SATORI • Ángel Parra y los Retornados • CHANCHA VÍA CIRCUITO
                    | DJ RAFF • KIDD KEO • THE INSPECTOR CLUZO • FRANK´S WHITE CANVAS • ELKIN ROBINSON
                    | ROOTZ HI-FI • Los Pulentos • DREFQUILA • BRONKO YOTTE • PLAYA GÓTICA
                    | FERNANDA ARRAU • MELANIE RIBBE • AMANITAS • Subhira • KALEEMA  • COMPADRE SISTEK • RED RABBIT • DJ TRESSOR • DRUNVALOOP • Los Frutantes

                p.line-up__text
                    span._title Sábado 30 de Marzo
                    strong TWENTY ONE PILOTS • POST MALONE
                    br
                    | STEVE AOKI • INTERPOL • ODESZA • YEARS &__ YEARS • BRING ME THE HORIZON 
                    | PORTUGAL. THE MAN • ZIGGY MARLEY • RL GRIME • RÜFÜS DU SOL
                    | PROTOJE &__ THE INDIGGNATION • AMéRICO • MONSIEUR PERINÉ • THE FEVER 333
                    | BOOKA SHADE • VALENTINO KHAN • DJ WHO • KAMASI WASHINGTON • ASES FALSOS
                    | HIPPIE SABOTAGE • JETLAG • ZATURNO • PILLANES • SATORI • DJ RAFF • BAD GYAL
                    | ROOTZ HI-FI • ALEMÁN • TOMASA DEL REAL • RUBIO • A. CHAL • NOVA MATERIA • HUMBOLDT GIANLUCA • Los Pulentos • JULIO VICTORIA • ENTRÓPICA • ISA ROJAS • GOLDENRAT
                    | POL DEL SUR • FLAK • Danzante • FUNDACIÓN ORQUESTAS JUVENILES E INFANTILES

                p.line-up__text
                    span._title Domingo 31 de Marzo
                    strong ARCTIC MONKEYS • SAM SMITH
                    br
                    | TIËSTO • THE 1975 • MACKLEMORE • JUANES • ROSALÍA • FOALS • ST. VINCENT 
                    | ZHU •  DON DIABLO • GEPE • TROYE SIVAN • ANA TIJOUX • PARCELS
                    | JOE VASCONCELLOS • JAIN • LOUD LUXURY • GTA • PALOMA MAMI • LA VELA PUERCA KHEA • LA FLORIPONDIO • SEUN KUTI • C. TANGANA • FISKALES AD-HOK • SINERGIA KIDS GAME CARAMELOS DE CIANURO • ROOTZ HI-FI • ALIKA • ADELAIDA • NEWEN AFROBEAT
                    | NATALIA CONTESSE • SITA ABELLÁN • OMAR VARELA • CIGARBOX MAN • ILE • FANTASNA KEKO YOMA • Sophi Lira • JEFE INDIO • POLIMÁ WESTCOAST

                .line-up__logo-kids
                    img(src="../images/kidsloolla.png")
                p.line-up__text
                    strong LOS PULENTOS • SINERGIA KIDS GAME • 
                    | Ángel Parra y los Retornados • Sophi Lira
                    br
                    |SUBHIRA • LOS FRUTANTES • FUNDACIÓN ORQUESTAS JUVENILES E INFANTILES • DANZANTE

            .line-up__main
                .line-up__title preventa
                .line-up__table
                    .line-up__heading
                        .line-up__day.line-up__day--active(data-target="0") viernes
                        .line-up__day(data-target="1") sabado
                        .line-up__day(data-target="2") domingo
                    .line-up__table__col.line-up__table__col--active(data-tab="0")
                        .line-up__row
                            .line-up__cell
                                .line-up__cell-title general
                                .line-up__cell-subtitle pre-sale
                                .line-up__cell-text
                                    | vtr <span class="-number">20%</span> de descuento
                            .line-up__cell-wrapper
                                .line-up__cell
                                    .line-up__cell-comment stock
                                    .line-up__cell-number 250
                                .line-up__cell
                                    .line-up__cell-comment precio normal
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    .line-up__cell-comment precio con vtr
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
                        .line-up__row
                            .line-up__cell
                                .line-up__cell-title lolla lounge
                                .line-up__cell-subtitle
                                    | pre-sale <span class="-number">1</span>
                                .line-up__cell-text
                                    |vtr <span class="-number">20%</span> de descuento
                            .line-up__cell-wrapper
                                .line-up__cell
                                    .line-up__cell-comment stock
                                    .line-up__cell-number 30
                                .line-up__cell
                                    .line-up__cell-comment precio normal
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    .line-up__cell-comment precio con vtr
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
                        .line-up__row
                            .line-up__cell
                                .line-up__cell-title lolla lounge premium
                                .line-up__cell-subtitle pre-sale premium
                                .line-up__cell-text
                                    |vtr <span class="-number">20%</span> de descuento
                            .line-up__cell-wrapper
                                .line-up__cell
                                    .line-up__cell-comment stock
                                    .line-up__cell-number 20
                                .line-up__cell
                                    .line-up__cell-comment precio normal
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    .line-up__cell-comment precio con vtr
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar

                    .line-up__table__col(data-tab="1")
                        .line-up__row
                            .line-up__cell
                                .line-up__cell-title General Sábado
                                .line-up__cell-subtitle pre-sale
                                .line-up__cell-text
                                    |vtr <span class="-number">20%</span> de descuento
                            .line-up__cell-wrapper
                                .line-up__cell
                                    .line-up__cell-comment stock
                                    .line-up__cell-number 250
                                .line-up__cell
                                    .line-up__cell-comment precio normal
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    .line-up__cell-comment precio con vtr
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
                        .line-up__row
                            .line-up__cell
                                .line-up__cell-title lolla lounge
                                .line-up__cell-subtitle
                                    | pre-sale <span class="-number">1</span>
                                .line-up__cell-text
                                    | vtr <span class="-number">20%</span> de descuento
                            .line-up__cell-wrapper
                                .line-up__cell
                                    .line-up__cell-comment stock
                                    .line-up__cell-number 30
                                .line-up__cell
                                    .line-up__cell-comment precio normal
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    .line-up__cell-comment precio con vtr
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
                        .line-up__row
                            .line-up__cell
                                .line-up__cell-title lolla lounge premium
                                .line-up__cell-subtitle pre-sale premium
                                .line-up__cell-text
                                    |vtr <span class="-number">20%</span> de descuento
                            .line-up__cell-wrapper
                                .line-up__cell
                                    .line-up__cell-comment stock
                                    .line-up__cell-number 20
                                .line-up__cell
                                    .line-up__cell-comment precio normal
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    .line-up__cell-comment precio con vtr
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar

                    .line-up__table__col(data-tab="2")
                        .line-up__row
                            .line-up__cell
                                .line-up__cell-title General Domingo
                                .line-up__cell-subtitle pre-sale
                                .line-up__cell-text
                                    |vtr <span class="-number">20%</span> de descuento
                            .line-up__cell-wrapper
                                .line-up__cell
                                    .line-up__cell-comment stock
                                    .line-up__cell-number 250
                                .line-up__cell
                                    .line-up__cell-comment precio normal
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    .line-up__cell-comment precio con vtr
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
                        .line-up__row
                            .line-up__cell
                                .line-up__cell-title lolla lounge
                                .line-up__cell-subtitle
                                    | pre-sale <span class="-number">1</span>
                                .line-up__cell-text
                                    |vtr <span class="-number">20%</span> de descuento
                            .line-up__cell-wrapper
                                .line-up__cell
                                    .line-up__cell-comment stock
                                    .line-up__cell-number 30
                                .line-up__cell
                                    .line-up__cell-comment precio normal
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    .line-up__cell-comment precio con vtr
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
                        .line-up__row
                            .line-up__cell
                                .line-up__cell-title lolla lounge premium
                                .line-up__cell-subtitle pre-sale premium
                                .line-up__cell-text
                                    |vtr <span class="-number">20%</span> de descuento
                            .line-up__cell-wrapper
                                .line-up__cell
                                    .line-up__cell-comment stock
                                    .line-up__cell-number 20
                                .line-up__cell
                                    .line-up__cell-comment precio normal
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    .line-up__cell-comment precio con vtr
                                    .line-up__cell-number $2500
                                .line-up__cell
                                    a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
