extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.line-up
        .line-up__container
            .line-up__col
                .line-up__logo-main
                    img(src="../images/lineup/lineup-logo.png")
                .line-up__subtitle ellos serán los encargados de hacerte saltar y bailar este año en lollapalooza chile

                .line-up__wrapper.line-up__wrapper--left
                    .line-up__group
                        .line-up__main-artists
                            img(src="/images/lineup/lineup-1.png")
                        .line-up__date
                            img(src="/images/lineup/lineup-1-date.png")
                    .line-up__internal-wrapper
                        p.line-up__text.line-up__text--big
                            |DIMITRI VEGAS &__ LIKE MIKE 
                            span ● 
                            |GRETA VAN FLEET 
                            span ● 
                            |VICENTICO 
                            span ● 
                            |SNOW PATROL 
                            span ● 
                            |Caetano, Moreno, Zeca &__ Tom Veloso 
                            span ● 
                            |KSHMR 
                            span ● 
                            |JORJA SMITH 
                            span ●
                        p.line-up__text.line-up__text--medium
                            |Paulo Londra Clairo 
                            span • 
                            |FISHER 
                            span • 
                            |KUNGS 
                            span • 
                            |LANY 
                            span • 
                            |LOS TRES 
                            span • 
                            |FRANCISCA VALENZUELA 
                            span • 
                            |GREEN VALLEY 
                            span • 
                            |NICOLA CRUZ 
                            span • 
                            |TOKYO SKA 
                            span • 
                            |PARADISE ORCHESTRA 
                            span • 
                            |GRYFFIN MC KEVINHO 
                            span • 
                            |SATORI 
                            span • 
                            |KIDD KEO 
                            span • 
                            |DJ RAFF 
                            span •
                        p.line-up__text.line-up__text--small
                            |Ángel Parra y los Retornados 
                            span • 
                            |CHANCHA VÍA CIRCUITO DJ RAFF 
                            span • 
                            |THE INSPECTOR CLUZO 
                            span • 
                            |FRANK´S WHITE CANVAS 
                            span • 
                            |ELKIN ROBINSON 
                            span • 
                            |ROOTZ 
                            span • 
                            |HI-FI 
                            span • 
                            |Los Pulentos 
                            span • 
                            |DREFQUILA 
                            span • 
                            |BRONKO YOTTE 
                            span • 
                            |PLAYA GÓTICA FERNANDA ARRAU 
                            span • 
                            |MELANIE RIBBE 
                            span • 
                            |AMANITAS 
                            span • 
                            |Subhira 
                            span • 
                            |KALEEMA
                            span • 
                            |COMPADRE SISTEK 
                            span • 
                            |RED RABBIT 
                            span • 
                            |DJ TRESSOR 
                            span • 
                            |DRUNVALOOP 
                            span • 
                            |Los Frutantes

                .line-up__wrapper.line-up__wrapper--right
                    .line-up__group
                        .line-up__main-artists
                            img(src="/images/lineup/lineup-2.png")
                        .line-up__date
                            img(src="/images/lineup/lineup-2-date.png")
                    .line-up__internal-wrapper
                        p.line-up__text.line-up__text--big
                            |STEVE AOKI 
                            span ● 
                            |INTERPOL 
                            span ● 
                            |ODESZA 
                            span ● 
                            |YEARS &__ YEARS 
                            span ● 
                            |BRING ME THE HORIZON 
                            span ● 
                            |PORTUGAL THE MAN 
                            span ● 
                            |ZIGGY MARLEY 
                            span ● 
                            |RL GRIME 
                            span ● 
                            |RÜFÜS
                        p.line-up__text.line-up__text--medium
                            |DU SOL PROTOJE &__ THE INDIGGNATION 
                            span • 
                            |AMéRICO 
                            span • 
                            |MONSIEUR PERINÉ 
                            span • 
                            |THE FEVER 
                            strong 333 
                            |BOOKA SHADE
                            span • 
                            |VALENTINO KHAN 
                            span • 
                            |DJ WHO 
                            span • 
                            |KAMASI WASHINGTON 
                            span • 
                            |ASES FALSOS HIPPIE SABOTAGE 
                            span • 
                            |JETLAG 
                            span • 
                            |ZATURNO
                        p.line-up__text.line-up__text--small
                            |PILLANES 
                            span • 
                            |SATORI 
                            span • 
                            |DJ RAFF 
                            span • 
                            |BAD GYAL ROOTZ HI-FI 
                            span • 
                            |ALEMÁN 
                            span • 
                            |TOMASA DEL REAL 
                            span • 
                            |RUBIO 
                            span • 
                            |A. CHAL 
                            span • 
                            |NOVA MATERIA 
                            span •
                            |HUMBOLDT GIANLUCA 
                            span • 
                            |Los Pulentos 
                            span • 
                            |JULIO VICTORIA 
                            span • 
                            |ENTRÓPICA 
                            span • 
                            |ISA ROJAS 
                            span • 
                            |GOLDENRAT POL DEL SUR 
                            span • 
                            |FLAK 
                            span • 
                            |Danzante 
                            span •
                            |FUNDACIÓN ORQUESTAS JUVENILES E INFANTILES

                .line-up__wrapper.line-up__wrapper--left
                    .line-up__group
                        .line-up__main-artists
                            img(src="/images/lineup/lineup-3.png")
                        .line-up__date
                            img(src="/images/lineup/lineup-3-date.png")
                    .line-up__internal-wrapper
                        p.line-up__text.line-up__text--big
                            |TIËSTO 
                            span ● 
                            |THE 
                            strong 1978 
                            span ● 
                            |MACKLEMORE 
                            span ● 
                            |JUANES 
                            span ● 
                            |ROSALÍA 
                            span ● 
                            |FOALS 
                            span ● 
                            |ST. VINCENT
                            span ● 
                            |ZHU 
                            span ● 
                            |DON DIABLO 
                            span ● 
                            |GEPE 
                            span ● 
                            |TROYE SIVAN 
                            span ● 
                            |ANA TIJOUX 
                            span ● 
                        p.line-up__text.line-up__text--medium
                            |PARCELS JOE VASCONCELLOS 
                            span • 
                            |JAIN 
                            span • 
                            |LOUD LUXURY 
                            span • 
                            |GTA 
                            span • 
                            |PALOMA MAMI 
                            span • 
                            |LA VELA PUERCA KHEA 
                            span •
                            |LA FLORIPONDIO 
                            span • 
                            |SEUN KUTI 
                            span • 
                            |C. TANGANA 
                            span • 
                            |FISKALES AD-HOK 
                            span • 
                            |SINERGIA KIDS GAME CARAMELOS DE CIANURO
                        p.line-up__text.line-up__text--small
                            |ROOTZ HI-FI 
                            span • 
                            |ALIKA 
                            span • 
                            |ADELAIDA 
                            span • 
                            |NEWEN AFROBEAT NATALIA CONTESSE 
                            span • 
                            |SITA ABELLÁN 
                            span • 
                            |OMAR VARELA 
                            span • 
                            |CIGARBOX MAN 
                            span • 
                            |ILE 
                            span •
                            |FANTASNA KEKO YOMA 
                            span • 
                            |Sophi Lira 
                            span • 
                            |JEFE INDIO 
                            span • 
                            |POLIMÁ WESTCOAST

            //-     .line-up__logo-kids
            //-         img(src="../images/kidsloolla.png")
            //-     p.line-up__text
            //-         strong LOS PULENTOS • SINERGIA KIDS GAME • 
            //-         | Ángel Parra y los Retornados • Sophi Lira
            //-         br
            //-         |SUBHIRA • LOS FRUTANTES • FUNDACIÓN ORQUESTAS JUVENILES E INFANTILES • DANZANTE
            //- 
            //- .line-up__main
            //-     .line-up__title preventa
            //-     .line-up__table
            //-         .line-up__heading
            //-             .line-up__day.line-up__day--active(data-target="0") viernes
            //-             .line-up__day(data-target="1") sabado
            //-             .line-up__day(data-target="2") domingo
            //-         .line-up__table__col.line-up__table__col--active(data-tab="0")
            //-             .line-up__row
            //-                 .line-up__cell
            //-                     .line-up__cell-title general
            //-                     .line-up__cell-subtitle pre-sale
            //-                     .line-up__cell-text
            //-                         | vtr <span class="-number">20%</span> de descuento
            //-                 .line-up__cell-wrapper
            //-                     .line-up__cell
            //-                         .line-up__cell-comment stock
            //-                         .line-up__cell-number 250
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio normal
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio con vtr
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
            //-             .line-up__row
            //-                 .line-up__cell
            //-                     .line-up__cell-title lolla lounge
            //-                     .line-up__cell-subtitle
            //-                         | pre-sale <span class="-number">1</span>
            //-                     .line-up__cell-text
            //-                         |vtr <span class="-number">20%</span> de descuento
            //-                 .line-up__cell-wrapper
            //-                     .line-up__cell
            //-                         .line-up__cell-comment stock
            //-                         .line-up__cell-number 30
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio normal
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio con vtr
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
            //-             .line-up__row
            //-                 .line-up__cell
            //-                     .line-up__cell-title lolla lounge premium
            //-                     .line-up__cell-subtitle pre-sale premium
            //-                     .line-up__cell-text
            //-                         |vtr <span class="-number">20%</span> de descuento
            //-                 .line-up__cell-wrapper
            //-                     .line-up__cell
            //-                         .line-up__cell-comment stock
            //-                         .line-up__cell-number 20
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio normal
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio con vtr
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
            //- 
            //-         .line-up__table__col(data-tab="1")
            //-             .line-up__row
            //-                 .line-up__cell
            //-                     .line-up__cell-title General Sábado
            //-                     .line-up__cell-subtitle pre-sale
            //-                     .line-up__cell-text
            //-                         |vtr <span class="-number">20%</span> de descuento
            //-                 .line-up__cell-wrapper
            //-                     .line-up__cell
            //-                         .line-up__cell-comment stock
            //-                         .line-up__cell-number 250
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio normal
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio con vtr
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
            //-             .line-up__row
            //-                 .line-up__cell
            //-                     .line-up__cell-title lolla lounge
            //-                     .line-up__cell-subtitle
            //-                         | pre-sale <span class="-number">1</span>
            //-                     .line-up__cell-text
            //-                         | vtr <span class="-number">20%</span> de descuento
            //-                 .line-up__cell-wrapper
            //-                     .line-up__cell
            //-                         .line-up__cell-comment stock
            //-                         .line-up__cell-number 30
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio normal
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio con vtr
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
            //-             .line-up__row
            //-                 .line-up__cell
            //-                     .line-up__cell-title lolla lounge premium
            //-                     .line-up__cell-subtitle pre-sale premium
            //-                     .line-up__cell-text
            //-                         |vtr <span class="-number">20%</span> de descuento
            //-                 .line-up__cell-wrapper
            //-                     .line-up__cell
            //-                         .line-up__cell-comment stock
            //-                         .line-up__cell-number 20
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio normal
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio con vtr
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
            //- 
            //-         .line-up__table__col(data-tab="2")
            //-             .line-up__row
            //-                 .line-up__cell
            //-                     .line-up__cell-title General Domingo
            //-                     .line-up__cell-subtitle pre-sale
            //-                     .line-up__cell-text
            //-                         |vtr <span class="-number">20%</span> de descuento
            //-                 .line-up__cell-wrapper
            //-                     .line-up__cell
            //-                         .line-up__cell-comment stock
            //-                         .line-up__cell-number 250
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio normal
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio con vtr
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
            //-             .line-up__row
            //-                 .line-up__cell
            //-                     .line-up__cell-title lolla lounge
            //-                     .line-up__cell-subtitle
            //-                         | pre-sale <span class="-number">1</span>
            //-                     .line-up__cell-text
            //-                         |vtr <span class="-number">20%</span> de descuento
            //-                 .line-up__cell-wrapper
            //-                     .line-up__cell
            //-                         .line-up__cell-comment stock
            //-                         .line-up__cell-number 30
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio normal
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio con vtr
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
            //-             .line-up__row
            //-                 .line-up__cell
            //-                     .line-up__cell-title lolla lounge premium
            //-                     .line-up__cell-subtitle pre-sale premium
            //-                     .line-up__cell-text
            //-                         |vtr <span class="-number">20%</span> de descuento
            //-                 .line-up__cell-wrapper
            //-                     .line-up__cell
            //-                         .line-up__cell-comment stock
            //-                         .line-up__cell-number 20
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio normal
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         .line-up__cell-comment precio con vtr
            //-                         .line-up__cell-number $2500
            //-                     .line-up__cell
            //-                         a.line-up__cell-buy(href="https://www.puntoticket.com/Lollapalooza", target="_blank") comprar
