extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.vtr-playstage.vtr-playstage--playstage-background
        .vtr-playstage__wrapper
            .vtr-playstage__title
                img(src="/images/vtr-playstage/title.png")
            h3.vtr-playstage__subtitle Con VTR Playstage, crea tu escenario y vive Lolla donde quieras.
            p.vtr-playstage__text Este año tú eliges dónde vas a vivir Lolla, no importa si te fuiste a la playa, si te quedaste estudiando, si vas en la micro, o si estás en el patio de tu casa. ¡Crea tu propio escenario y llévalo contigo!
        .vtr-playstage__image
            img(src="/images/proximamente.png")
