extends ../_layouts/base

include ../_modules/slider/slider

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.vtr-playstage.vtr-playstage--playstage-background
        .vtr-playstage__wrapper
            .vtr-playstage__title
                img(src="/images/vtr-playstage/title.png")
            h3.vtr-playstage__subtitle 
                |Con VTR Playstage, crea tu escenario 
                br
                |y vive Lolla donde quieras.
        section.vtr-playstage__images
            //- .vtr-playstage__images__image-container.image-size-sm.wow.fadeInUpBig(data-wow-delay="2s")
            //-     img(src="https://picsum.photos/1200/1300?image=0")
            //- .vtr-playstage__images__image-container.image-size-lg.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=2")
            //- .vtr-playstage__images__image-container.image-size-xl.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=3")
            //- .vtr-playstage__images__image-container.image-size-md.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=1")
            //- .vtr-playstage__images__image-container.image-size-sm.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=0")
            //- .vtr-playstage__images__image-container.image-size-lg.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=2")
            //- .vtr-playstage__images__image-container.image-size-xl.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=3")
            //- .vtr-playstage__images__image-container.image-size-sm.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=0")
            //- .vtr-playstage__images__image-container.image-size-md.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=1")
            //- .vtr-playstage__images__image-container.image-size-md.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=1")
            //- .vtr-playstage__images__image-container.image-size-xl.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=3")
            //- .vtr-playstage__images__image-container.image-size-sm.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=0")
            //- .vtr-playstage__images__image-container.image-size-lg.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=2")
            //- .vtr-playstage__images__image-container.image-size-md.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=1")
            //- .vtr-playstage__images__image-container.image-size-lg.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=2")
            //- .vtr-playstage__images__image-container.image-size-xl.wow.fadeInUpBig
            //-     img(src="https://picsum.photos/1200/1300?image=3")
