extends _layouts/base

block content
    main#app.home
        .home__wrapper
            a.home__col(href="#")
                .home__col__layer.home__col__layer--resize
                .home__col__title-text vtr shuffle
                .home__col__title-image
                    img(src="images/home/vtr-shuffle.png")
            a.home__col(href="#")
                .home__col__layer
                .home__col__title-text adivina banda
                .home__col__title-image
                    img(src="images/home/adivina-banda.png")
                .home__col__icon
                    img(src="images/home/adivina-banda-icon.png")
                .home__col__text proximamente
            a.home__col(href="#")
                .home__col__layer
                .home__col__title-text line up
                .home__col__title-image
                    img(src="images/home/line-up.png")
                .home__col__icon
                    img(src="images/home/line-up-icon.png")
                .home__col__text proximamente
            a.home__col(href="#")
                .home__col__layer
                .home__col__title-text vtr playstage
                .home__col__title-image
                    img(src="images/home/vtr-playstage.png")
                .home__col__icon
                    img(src="images/home/vtr-playstage-icon.png")
                .home__col__text proximamente
            a.home__col(href="#")
                .home__col__layer
                .home__col__title-text #azoteavtr
                .home__col__title-image
                    img(src="images/home/azoteavtr.png")
                .home__col__icon
                    img(src="images/home/azoteavtr-icon.png")
                .home__col__text proximamente
            a.home__col(href="/catalogo")
                .home__col__layer
                .home__col__title-text catalogo
                .home__col__title-image
                    img(src="images/home/catalogo.png")
                .home__col__icon
                    img(src="images/home/catalogo-icon.png")
            a.home__col(href="#")
                .home__col__layer.home__col__layer--resize
                .home__col__title-text serie
                .home__col__title-image.home__col__title-image--image-position
                    img(src="images/home/serie.png")
                .home__col__icon.home__col__icon--icon-position
                    img(src="images/home/serie-icon.png")
                .home__col__text.home__col__text--position proximamente
